#Git Ignore
sampleTest.cpp
a.out
datasketches
resultados
data
visualizacionDistribuciones/archivos
visualizacionDistribuciones/exphisto
visualizacionDistribuciones/res.txt
visualizacionDistribuciones/resMendeley.txt
kllbin
saveKll

# Apache Datasketches
lib
include

# Archivos de prueba
Chicago-20080319.txt
Chicago-20080515.txt
Chicago-20110608.txt
Chicago-20150219.txt
Chicago-20160121.txt
Mawi-20161201.txt
Mawi-20171101.txt
Mawi-20181201.txt
Mawi-20191102.txt
Mawi-20200901.txt
Mendeley.txt
Sanjose-20081016.txt

klltuple/estimacionFrecuencias
klltuple/flujosMawi-20181201.txt
klltuple/flujosMendeley.txt
klltuple/sortflujosMendeley.txt
klltuple/flujosChicago-20160121.txt
klltuple/sortflujosChicago-20160121.txt
klltuple/flujosSanjose-20081016.txt
klltuple/sortflujosSanjose-20081016.txt
klltuple/flujosChicago2015.txt
klltuple/flujosChicago2016.txt
klltuple/sortflujosChicago2015.txt
klltuple/sortflujosChicago2016.txt
klltuple/chicago2015_withdata.txt
klltuple/chicago2016_withdata.txt
